/* CSS declarations go here */
.intro {
  margin-top: 100px;
}
img {
  width: 90%;
}
.post{
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom: lightgray solid 1px;
}
.post:last-child{
  border: 0;
}
.sign-in-and-out{
  margin-top: -5px;
  margin-right: 60px;
}
