<template name='posts'>
  <!-- Button trigger modal -->
    {{#if currentUser}}
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#postModal">
      Post a Message
    </button>
    <!-- Modal -->
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="mypostModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myPostModalLabel">Create a Post</h4>
          </div>

          <div class="modal-body">
            {{#autoForm collection="Posts" id="insertPostForm" type="insert"}}
              {{> afQuickField name="body" rows=4}}
              <button type='submit' class='btn btn-primary'>Send</button>
              <button type='button' class='btn btn-danger' data-dismiss='modal'>Close</button>
            {{/autoForm}}
          </div>


        </div>
      </div>
    </div>

    {{userId}}
    <hr>
      {{#each posts}}
      <div class='row post'>
        <div class='col-md-1'>
          <!-- Create Custom Global Method -->
          {{#if getProfileImg userId}}
            <img src='{{getProfileImg userId}}' alt='profile-pic'>
          {{else}}
            <img src='/img/profile.jpg' alt='profile-pic'>
          {{/if}}
        </div>
        <div class='col-md-11'>
          <small>Posted by {{username}} at {{createdAt}}</small>
          <p> {{body}}</p>
        </div>
      </div>
      {{else}}
        <h4> No Posts! </h4>
      {{/each}}

    {{else}}
      <h3>Please Login or Register!! :) </h3>
    {{/if}}
</template>
