<template name='profile'>
  <h3>Edit Profile</h3>

  {{#if currentUser.services.facebook.name}}
    <h4>Facebook User Name: {{currentUser.services.facebook.name}}</h4>
    <h4>Facebook Email: {{currentUser.services.facebook.email}}</h4>
  {{else}}
    <h4>User Name: {{currentUser.username}} </h4>
    <h4>Email: {{currentUser.emails.[0].address}}</h4>
  {{/if}}
  {{#if getProfileImg currentUser._id}}
    <p><img src='{{getProfileImg currentUser._id}}' class='img-thumbnail' alt='profile-pic'></p>
  {{else}}
    <p><img src='/img/profile.jpg' class='img-thumbnail' alt='profile-pic'></p>
  {{/if}}
  <form class='edit-profile' enctype='multipart/form-data'>
      <label for='profileImage'>Upload Profile Image:</label> <input type='file' name='profileImage' id='profileImage'>
      <br>
      <input type='submit' value='Update' class='btn btn-primary'>
  </form>
</template>
